.elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-941 .elementor-element.elementor-element-4eb5830.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: auto;
}

.elementor-941 .elementor-element.elementor-element-4eb5830 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-941 .elementor-element.elementor-element-e6d0b58.elementor-column, .elementor-941 .elementor-element.elementor-element-e6d0b58.elementor-column > .elementor-widget-wrap {
    height: 81px;
}

.elementor-941 .elementor-element.elementor-element-e6d0b58.elementor-column {
    align-self: inherit;
}

.elementor-941 .elementor-element.elementor-element-e6d0b58.elementor-column > .elementor-column-wrap, .elementor-941 .elementor-element.elementor-element-e6d0b58.elementor-column > .elementor-widget-wrap {
    overflow-y: visible;
}

.elementor-941 .elementor-element.elementor-element-aae4377 .hfe-site-logo-container, .elementor-941 .elementor-element.elementor-element-aae4377 .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-941 .elementor-element.elementor-element-aae4377 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-941 .elementor-element.elementor-element-aae4377 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-941 .elementor-element.elementor-element-aae4377 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-941 .elementor-element.elementor-element-aae4377.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-bc-flex-widget .elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column {
    align-self: inherit;
}

.elementor-941 .elementor-element.elementor-element-f6a4aab > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item {
    padding-left: 10px;
    padding-right: 10px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-sub-menu-item {
    padding-left: calc(10px + 20px);
    padding-right: 10px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc(10px + 40px);
    padding-right: 10px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(10px + 60px);
    padding-right: 10px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc(10px + 80px);
    padding-right: 10px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item, .elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-sub-menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

body:not(.rtl) .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child) {
    margin-right: 15px;
}

body.rtl .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child) {
    margin-left: 15px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu > li.menu-item:not(:last-child) {
    margin-bottom: 15px;
}

body:not(.rtl) .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item {
    margin-bottom: 0px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 a.hfe-menu-item, .elementor-941 .elementor-element.elementor-element-4a985d1 a.hfe-sub-menu-item {
    font-family: "Roboto Slab", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item, .elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu a.hfe-sub-menu-item {
    color: var(--e-global-color-primary);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item:hover,
.elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item.highlighted,
.elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item:focus {
    color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
    background-color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
    background-color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
    border-color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent.current-menu-item a.hfe-menu-item:before,
.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent.current-menu-item a.hfe-menu-item:after {
    background-color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a.current-menu-item:after {
    background-color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-pointer__framed .menu-item.parent.current-menu-item a.hfe-menu-item:before,
.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-pointer__framed .menu-item.parent.current-menu-item a.hfe-menu-item:after {
    border-color: var(--e-global-color-19c4dc5);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 ul.sub-menu {
    width: 220px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu a.hfe-sub-menu-item,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 16px;
    padding-bottom: 16px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu li.menu-item:not(:last-child),
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 div.hfe-nav-menu-icon {
    color: var(--e-global-color-primary);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 div.hfe-nav-menu-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-icon {
    background-color: #FFFFFF;
    padding: 0.35em;
}

.elementor-941 .elementor-element.elementor-element-4a985d1 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-941 .elementor-element.elementor-element-4a985d1.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

html, body {
    overflow-x: inherit;
}

@media (max-width: 1024px) {
    body:not(.rtl) .elementor-941 .elementor-element.elementor-element-4a985d1.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-right: 0px;
    }

    body .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-icon {
        font-size: 24px;
        border-width: 2px;
        padding: 0.35em;
        border-radius: 10px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-icon svg {
        font-size: 24px;
        line-height: 24px;
        height: 24px;
        width: 24px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 > .elementor-widget-container {
        margin: 0% 10% 0% 0%;
        padding: 0px 0px 0px 0px;
    }
}

@media (min-width: 768px) {
    .elementor-941 .elementor-element.elementor-element-e6d0b58 {
        width: 24.386%;
    }

    .elementor-941 .elementor-element.elementor-element-f6a4aab {
        width: 75.614%;
    }
}

@media (max-width: 767px) {
    .elementor-941 .elementor-element.elementor-element-e6d0b58 {
        width: 50%;
    }

    .elementor-941 .elementor-element.elementor-element-f6a4aab {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-941 .elementor-element.elementor-element-f6a4aab.elementor-column > .elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item {
        padding-left: 0px;
        padding-right: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-sub-menu-item {
        padding-left: calc(0px + 20px);
        padding-right: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc(0px + 40px);
        padding-right: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(0px + 60px);
        padding-right: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(0px + 80px);
        padding-right: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-menu-item, .elementor-941 .elementor-element.elementor-element-4a985d1 .menu-item a.hfe-sub-menu-item {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    body:not(.rtl) .elementor-941 .elementor-element.elementor-element-4a985d1.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-right: 0px;
    }

    body .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }

    body:not(.rtl) .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-right: 0px;
    }

    body.rtl .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu__layout-horizontal .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-left: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu > li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 ul.sub-menu {
        width: 0px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu li a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible li a.hfe-menu-item {
        padding-left: 12px;
        padding-right: 12px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li a.hfe-sub-menu-item {
        padding-left: calc(12px + 20px);
        padding-right: 12px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc(12px + 40px);
        padding-right: 12px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(12px + 60px);
        padding-right: 12px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc(12px + 80px);
        padding-right: 12px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .sub-menu a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown li a.hfe-sub-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible li a.hfe-menu-item,
    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-nav-menu__layout-horizontal ul.sub-menu, .elementor-941 .elementor-element.elementor-element-4a985d1 nav.hfe-nav-menu__layout-expandible.menu-is-active {
        margin-top: 3px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-dropdown.menu-is-active {
        margin-top: 3px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-icon {
        font-size: 17px;
        border-width: 4px;
        padding: 0.35em;
        border-radius: 50px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 .hfe-nav-menu-icon svg {
        font-size: 17px;
        line-height: 17px;
        height: 17px;
        width: 17px;
    }

    .elementor-941 .elementor-element.elementor-element-4a985d1 > .elementor-widget-container {
        margin: 0% 10% 0% 0%;
        padding: 0px 0px 0px 0px;
    }
}